nav {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adds shadow for depth */
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effects */
}

nav a:hover,
nav a:focus {
    background-color: white;

}

th {
    padding-right: 10px;
}